.banner-section {
    height: 550px;
    width: 100%;
    background-image: url("../images/5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.banner-title {
    font-size: 50px;
    padding: 15px;
}
.p-l-15 {
    padding-left: 15px;
}
.border-radius {
    border-radius: 0;
}

.service-section {
    background-color: #0e3e7f;
}
.card-img-height {
    height: 300px;
}
/*.f-s-40{
    font-size: 40px;
}*/
.count-section {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.m-t-110 {
    margin-top: 110px;
}
.exp-title {
    color: #C5D4E9 ;
}
.box {
    height: 3px;
    width: 60px;
    margin-bottom: 25px;
    background-color: gray;
}
